# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# FILES #
#############
*.conll16
*.fann
*.npy
*.treeproperties
*.alpha
io_dimensions.txt
io_dimensions_train.txt
io_dimensions_test.txt
*.csv
*.bin
glove.6B.*
output.txt
fv.txt
a.out

# ENV #
#############
env

