# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc

# FILES #
#############
*.conll16
*.fann
*.npy
*.alpha
*.treeproperties
*.csv
*.bin
glove.6B.*
output.txt
fv.txt
a.out
io_dimensions*
fann2binary
*_train.txt
*_test.txt

# ENV #
#############
env

